{% extends "base.html" %}
{% load static %}

{% block title %}Каталог{% endblock %}
{% block style %}
<style media="all">
    ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    li{
      margin: 20px;
    }
</style>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/catalog">Каталог</a></h1>
        </div>

        <div class="sort-block">
            Сортировка:&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{{ catalog_url }}?sort=name">по названию</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{{ catalog_url }}?sort=min_price">сначала дешёвые</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{{ catalog_url }}?sort=max_price">сначала дорогие</a>
        </div>

        <div class="content">
            <ul style="list-style: none;">
            {% for phone in phones %}
                <li>
                <a href="{{ phone.URL }}">{{ phone.Name }}</a>
                <p>Стоимость: {{ phone.Price }}р.</p>
                <img src="{{ phone.Image }}" alt="{{ phone.Name }}" style="width:158px;height:300px;">
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}